<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="/app.css" rel="stylesheet" type="text/css" media="all" />
</head>

<header>
  <a name="home"><img src="https://drive.google.com/uc?id=0By7sZwTYvkUgaVBnNFlmTVZuYVk"></a>
</header>

<body>
  <ul>
    <li><a class="active" href="#home">home</a></li>
    <li><a href="#about_me">about me</a></li>
    <li><a href="#projects">projects</a></li>
    <li><a href="#contact">contact</a></li>
  </ul>


  <div>
    <div class="oneSquare">
      <a name="about_me"><h1> hi  </h1></a>
    </div>
<div class="backgroundHi">
    <p>
       <br>
      I’m Kate.  I’ve been designing web pages since my first Xanga account; the trouble is…. (like many young girls) I didn’t realize I was coding and I definitely never thought about applying these skills toward a career.  Fast forward through a life detour as a social worker, school counselor, and investigator and I realized my need to solve problems and help people could be played out in a very different way.  
        <br>
         <br>
So in 2015 I took a vacation to Hawaii, came back and quit job, and enrolled in a Web Developer Certificate program.  I realized that I loved the problem solving and creativity that came with programming, and decided to continue my education returning to school to study Computer Science.  It is a common occurrence for me that when people find out I transitioned from a career in psychology to a career in tech they have a lot of questions.  I like to explain how similar the career fields are.  In social work it is typical to have a high volume job, with many stressful problems, that need creative solutions, that require you (sometimes you alone) to fix them…sounds familiar, right?  My skill to assess the problem, triage a solution, and implement change serve me just as well as a programmer as they did in the world of social work. 
       <br>
        <br>
Currently I am a contracted as web and graphic designer with military spouse based start-up where I am the wireframe guru, and a full time student at Florida State University. 
       <br>
        <br>
Being a military spouse has been a large part of my journey.  Getting to work with a team of military spouses everyday is amazing, and working as a programmer is a great fit for the military lifestyle as it allows me to work largely remotely.  In addition to working with military spouses, I also helped facilitate a hackathon specifically geared to getting more women, specifically military spouse in tech. (https://hiremadskills.com/hackathon)
    </p>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  </div>

  </div>
  <br>
  <br>
  
  
  

  <div>
    <div class="twoSquare">
      <a name="projects"><h1> work </h1></a>
    </div>
<div class="backgroundWork">
    <p>
      Lorem ipsum dolor sit amet, in oratio doctus feugiat his, dicant consulatu id qui, cetero adipisci voluptatum qui ex. Quodsi fastidii ei ius, usu in quis pertinacia dissentias. His ancillae oporteat suscipiantur at. Sit accusam delicata assueverit in,
      ne modus tollit latine has. Nec in duis labore pertinacia, vel ea soluta expetendis. Sed ne nonumes fierent. Idque assum aliquam ne mea, no est postea doctus omnesque, sit te temporibus disputationi. Te pro duis quando, eu prima zril gubergren per.
      Hinc rationibus sea at. Mea probo consulatu an. Eam harum tamquam an, iuvaret volumus ad has, et magna indoctum his. In qui enim vitae principes, in vis quando aperiam, eu eos autem mandamus comprehensam. Eu assentior assueverit eum, in sanctus
      convenire per. Ut patrioque sententiae vituperatoribus sed. In est dolore soluta inimicus, sed ad veniam abhorreant, audiam comprehensam mei te. Est probo consul interesset ne, impetus scripta reprimique his ex. Diam iuvaret reformidans mea at,
      ne vis assum deleniti definitiones. At has possit corpora rationibus. Sea te amet maiorum, et porro error saepe qui. Eos in adhuc inermis tacimates. Sed et oratio denique omittam, eu quo propriae noluisse epicurei. Cu mea assueverit scripserit,
      qui ex virtute feugait reprehendunt. Dicta altera aliquip cum no, eum ut detracto percipit. Vix id tacimates persecuti.
   </p>  
  <br>
   <br>
   <br>
   <br>
   <br>
    </div> 
    
 <div class="center">
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>
    <div class="gallery">
      <a target="_blank" href="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0">

        <img src="https://drive.google.com/uc?id=0By7sZwTYvkUgOG1zeTBZTUhRak0" alt="placeholder" width="200" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
       
  
    </div>
  </div>
  
  
 


  <div>
    <div class="threeSquare">
      <a name="contact"><h1> get in touch </h1></a>
    </div>
    <div class="backgroundGetInTouch">
    <p>
      Lorem ipsum dolor sit amet, in oratio doctus feugiat his, dicant consulatu id qui, cetero adipisci voluptatum qui ex. Quodsi fastidii ei ius, usu in quis pertinacia dissentias. His ancillae oporteat suscipiantur at. Sit accusam delicata assueverit in,
      ne modus tollit latine has. Nec in duis labore pertinacia, vel ea soluta expetendis. Sed ne nonumes fierent. Idque assum aliquam ne mea, no est postea doctus omnesque, sit te temporibus disputationi. Te pro duis quando, eu prima zril gubergren per.
      Hinc rationibus sea at. Mea probo consulatu an. Eam harum tamquam an, iuvaret volumus ad has, et magna indoctum his. In qui enim vitae principes, in vis quando aperiam, eu eos autem mandamus comprehensam. Eu assentior assueverit eum, in sanctus
      convenire per. Ut patrioque sententiae vituperatoribus sed. In est dolore soluta inimicus, sed ad veniam abhorreant, audiam comprehensam mei te. Est probo consul interesset ne, impetus scripta reprimique his ex. Diam iuvaret reformidans mea at,
      ne vis assum deleniti definitiones. At has possit corpora rationibus. Sea te amet maiorum, et porro error saepe qui. Eos in adhuc inermis tacimates. Sed et oratio denique omittam, eu quo propriae noluisse epicurei. Cu mea assueverit scripserit,
      qui ex virtute feugait reprehendunt. Dicta altera aliquip cum no, eum ut detracto percipit. Vix id tacimates persecuti.

      <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <br>
    <button type="button" class="btn btn-outline-primary">Submit</button>
    </form>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
          <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  </div>
    </div>
      
    </p>


    

  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer>

    
  </footer>
  </html>